<!DOCTYPE html>
<html>
	<head>
		<title>SCS PDF</title>
			<div class="container">
			<img src="/media/neha/14AEDCA2AEDC7E24/Penguins.jpg" alt="logo" style="width:40px; margin-top: 25px; margin-left: 10px;">
			<h2 class="pdf">SCS PDF</h2>
			</div>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
 	<body style="background-image: grey;">
		<h2 class="about">SEMESTER-1</h2>
	<div class="btn-group btn-group-inline" style="margin-top: 50px;">
    <button class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" style="margin-left: 100px;">MATHEMATICS 
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">1st SEM</a>
      <a class="dropdown-item" href="#">2nd SEM</a>
      <a class="dropdown-item" href="#">3rd SEM</a>
    </div>
  </div>
	
	<div class="btn-group btn-group-inline"style="margin-top: 50px;">
    <button class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" style="margin-left: 300px;">PHYSICS
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">1st SEM</a>
      <a class="dropdown-item" href="#">2nd SEM</a>
      <a class="dropdown-item" href="#">3rd SEM</a>
    </div>
  </div>

  <div class="btn-group btn-group-inline" style="margin-top: 50px;">
    <button class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" style="margin-left: 330px;">HINDI
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">1st SEM</a>
      <a class="dropdown-item" href="#">2nd SEM</a>
      <a class="dropdown-item" href="#">3rd SEM</a>
    </div>
  </div>

  <div class="btn-group btn-group-inline" style="margin-top: 100px;">
    <button class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" style="margin-left: 250px;">FUNDAMENTALS OF PROGRAMMING AND PROBLEM SOLVING THROUGH C-1
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="C:/jam2/project1/PDFs/Programming in ANSI C.pdf"download="ANSI c.pdf">Download PDF</a>
      <a class="dropdown-item" href="#">2nd SEM</a>
      <a class="dropdown-item" href="#">3rd SEM</a>
    </div>
  </div>

  <div class="btn-group btn-group-inline"style="margin-top: 100px;">
    <button class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" style="margin-left: 400px;">BASIC ELECTRICALS AND ELECTRONICS
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">1st SEM</a>
      <a class="dropdown-item" href="#">2nd SEM</a>
      <a class="dropdown-item" href="#">3rd SEM</a>
    </div>
  </div>
</body>
</html>

<style type="text/css">
	.about{
	margin-left: 500px;
	color: lightcoral;
    }
</style>